// COLORS

$color-primary: #FFF1C1;
$color-primary-light: #fff;
$color-secondary: #4C6F7B;
$color-tertiary: #255965;
$color-quaternary: #032A33;
$color-red: #e74c3c;


$color-white: #fff;
$color-black: #000;