.contactSection {
    background-color: $color-tertiary;
    color: $color-primary-ligth;
    padding: 1px 0;

    .contactButton {
        color: $color-white;
        padding: 15px 20px;
        display: inline-block;
        margin-top: 20px;
        border: 1px solid $color-primary-ligth;
        border-radius: 2px;
        &:hover {
            text-decoration: none;
            color: $color-black;
            background-color: $color-primary;
        }
    }

    .socialMedia {
        .fab {
            font-size: 40px;
            margin: 20px 15px 5px 15px;
            color: $color-primary-ligth;
            &:hover {
                color: $color-primary;
            }
        }
    }
    
    
}




