#navigation {
    background-color: $color-primary;
    padding: 20px 10px;
    z-index: 100;
    width: 100%;
}

#navigation li {
    padding: 0 10px;
}

#navigation li a {
    color: $color-quaternary;
    font-weight: 700;
}

.navbar-brand {
    color: $color-quaternary;
    font-weight: 700;
}

.navbar-toggler-icon {
    background: url(../img/icons/menu.png);
    background-size: 100%;
}

.fixedNav #navigation {
    position: fixed;
    top: 0;
}