.skillsSection {
    background-color: $color-tertiary;
    color: #fff;
}

#skills {
    text-align: center;

    header {
        text-align: center;
        margin-bottom: 50px;
    }

    .skillIcon {
        -webkit-animation: pulsations 1s infinite alternate linear;
                animation: pulsations 1s infinite alternate linear;
    }

    .top-buffer { 
        margin-top:60px;
    }
}
